<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="view.css">
  <title>My Markdown Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
  window.settings = {
    hideEditor: false,
    menuFile: "sidebar.md"
  }
</script>
<script>

  function toggleSidebar(){
    var s = document.querySelector("#sidebarContainer");
    s.classList.toggle("hidden");
  }
</script>
  <script defer src="mdsite.js"></script>
</head>
<body>

<nav id="toolbar"></nav>
<main>
<nav id="sidebarContainer" class="hidden">
<div id="burger" onClick="toggleSidebar()">&mdash;<br>&mdash;<br>&mdash;<br></div>
<div id="menu"></div>
<br>
<footer> Powered by <a href="https://github.com/girobusan/mmds">My Markdown Site</a> </footer>
</nav>
  <article id="content"></article>
</main>
  
</body>
</html>
