@use "_tufte";

.text > p , .text > footer , .text > table{
  width: 55%;
@media(max-width: 800px){
  width: 100%;
}
}

@media (prefers-color-scheme: dark){
  img, video{
    opacity: 0.8;
  }
}


.ActionRow{
  padding-left: 0 !important;
}
#menu{
  h1,h2,h4{
    @extend h3;
  }
  // border-bottom: 1px solid gray;
}
table{
  border-collapse: collapse;
  margin-bottom: 2rem;
  td, th{
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: top;
  }
  th{
    border-bottom: 1px solid gray;
  }
}
