@keyframes dots{
    0% { 
      content: "." 
    }
    33% { 
      content: ".." 
    }
    66% { 
      content: "..." 
    }
    100% { 
      content: "...." 
    }
}

#loaderAnimation{
  opacity: 0;
  transition: opacity .3s;
  position: fixed;
  top: 45vh;
  left: 50vw;
  width: 200px;
  margin-left: -100px;
  padding: 16px;
  border: 2px solid gray;
  background-color: white;
  color: gray;
  text-align: center;
  z-index: 10000;
  &::after{
    animation: dots 2s alternate-reverse infinite;
    content: "..."; 
  }
}
