$sidebarW: 250px;
$mainW: 500px;
$colW: $sidebarW + $mainW;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,html{
 font-size: 18px;
 line-height: 140%;
 font-family: 'PT Serif' , 'Times New Roman', Times, serif;
 margin: 0;
 padding: 0;
 background-color: rgba(255,255,250);
 color: #333;

}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-items: stretch;
}

code{
  font-family: 'Courier New', Courier, monospace;
  background-color: #efefef;
  font-size: 0.85rem;
  line-height: 1em;
  padding-left: 6px;
  padding-right: 6px;
}
pre{
  display: block;
  overflow: auto;
  background-color: #efefef;
  padding: 8px !important;
  border-radius: 4px;
  margin: 2em auto;
}


main{
  display: flex;
  flex-direction: row;
    flex-grow: 1;
  #sidebarContainer{
    transition: left 0.5s;
    box-sizing: border-box;
    text-align: right;
    padding: 16px;
      padding-top: 4rem;
    width: calc(100vw - $colW + $sidebarW);
    min-width: $sidebarW;
    // max-width: 400px;
    // min-width: 200px;
    background-color: #444;
    color: white;
    #burger{
      display: none;
    }
    #menu{
      font-size: 0.8rem;
      text-align: left;
      width: $sidebarW;
      display: inline-block;
      // padding: 1rem;
      box-sizing: content-box;
    }
    a{
      color: lightblue;
      text-decoration: none;
      &:hover{
        color: ivory;
      }
    }
    ul{
      list-style-type: none;
      padding-left: 0rem;
      margin:0;
    }
    li{
      margin-bottom: 1em;
      font-family: "PT Serif Caption" , Times , serif;
      ul{
        margin-top: 1em;
        margin-bottom: 1em;
        border-left: 1px solid gray;
        padding-left: 1em;
      }
    }
  }
  #content{
    padding: 0;
    width: 100%;
    h1,h2,h3,h4,h5,h6{
      font-family: "PT Serif" , Times , serif;
      font-weight: 600;
        line-height: 110%;
        color: #444;
    }
      h1{
        font-size: 2.5rem;
        margin: 2rem 0;
      }
      h2{
        margin: 2rem 0;
        font-size: 2rem;
      }
        h1 + h2{
          font-size: 1.5rem;
          margin-top: -1.5rem;
          margin-bottom: 4rem;
        }
      h3{
        margin: 1.5rem 0;
        font-size: 1.5rem;
      }
      h4{
        margin: 1rem 0;
        font-size: 1rem;
      }
      h2 + h3{
        margin-top: -1rem;
      }
      h5,h6{

         font-family: "PT Serif Caption" , "PT Serif" , Times , serif;
         letter-spacing: 0.06em;
      }
      a{
        color: royalblue;
        &:visited{
          color: darken(royalblue , 30%);
        }
      }
      table{
         font-size: 0.75rem;
         font-family: "PT Serif Caption" , "PT Serif" , Times , serif;
         line-height: 120%;;
         border-collapse: collapse;
         margin: 2rem auto;
         td , th{
           border: 1px solid #888;
           padding: 6px 8px;
           text-align: left;
           vertical-align: top;
         }
      }
      hr{
        border: none;
        background-color: #444;
        margin: 1rem auto;
        height: 2px;
        width: 100%;
      }

    .text{
      max-width: $mainW; // calc(100vw - $colW + $mainW);
      padding: 1rem;
      padding-top: 2rem;
      padding-left: 2rem;
      p{
        margin:0 ;
         margin-bottom: 1rem;
      }
      // max-width: 450px;
      // margin: 0 auto;
      img{
        display: block;
        max-width: 100%;
        margin: 2em auto;
        border-radius: 4px;
      }
    }
  }
}

footer{
  margin-top: 4rem;
  text-align: left;
  display: inline-block;
  font-size: 0.75rem;
  background-color: transparent;
  color: silver;
      width: $sidebarW;
  
}

@media(max-width:800px){

  main{
    display: block;

  }
  main #sidebarContainer{
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    min-height: 100vh;
    max-width: 100vw;

    background-color: rgba(0,0,0,.9);
    #burger{
      transition: right 0.5s;
      display: block;
      border-radius: 4px;
      box-sizing: border-box;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 32px;
      height: 32px;
      background-color: black;
      color: white;
      text-align: center;
      line-height: 6px;
      padding-top: 6px;
      user-select: none;
      cursor:pointer;
      &:hover{
        background-color: orangered;
      }
    }
    &.hidden{
      right: 100vw;
      left: auto;
      // width: 100vw;
      // float: left;
      #burger{
        right: -40px;
      }
    }
  }
}
