@use "_normalize";

.ViewEdit{
  position: relative;
  .editor-toolbar{
    background-color: white !important;
  }
  .notSavedWarning{
    position: fixed;
    display: block;
    padding: 0 8px;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: orangered;
    color: black;
  }
  .editorContainer{
    // all: initial;
    .CodeMirror-scroll{
      // all: initial !important;
      // @include normalize.normalize;
    }
    padding: 16px;
    // position: static;

    &.hidden{
      display: none;
    }
  }
}
.editor-preview p img{
  max-width: 100%;
}
