@use "_normalize";
// @import "../style/nofont.scss";

.ViewEdit{
  position: relative;
            *{
              box-sizing: border-box;
            }

  .notSavedWarning{
    position: fixed;
    display: block;
    padding: 0 8px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: orangered;
    color: black;
  }
  .editorContainer{
    box-sizing: border-box;
    // all: initial;
    .CodeMirror-scroll{
      // all: initial !important;
      // @include normalize.normalize;
    }
    // padding: 16px;
    // position: static;

    &.hidden{
      display: none;
    }
  }
}
