@use "_normalize";
// @import "../style/nofont.scss";

.ViewEdit{
  position: relative;
            *{
              box-sizing: border-box;
            }

  .notSavedWarning{
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 6px 8px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: orangered;
    color: black;
    font-size: 0.8rem;
    justify-content: center;
    height: 1rem;
    input[type=button]{
      appearance: mome;
       font-size: 0.75em;
       background-color: transparent;
       padding: 0 0.8em;
       padding-bottom: 0.05em;
       margin-left: 8px; 
       line-height: 100%;
       border: 1px solid white;
       border-radius: 6px;
       color: black;
       cursor: pointer;
       &:hover{
         color: white;
         background-color: black;
         border-color: black;
       }
    }
  }
  .editorContainer{
    box-sizing: border-box;
    // all: initial;
    .CodeMirror-scroll{
      // all: initial !important;
      // @include normalize.normalize;
    }
    // padding: 16px;
    // position: static;

    &.hidden{
      display: none;
    }
  }
}
